# Copy this to ".env"
MONGO_URI=mongodb://127.0.0.1:27017/shramsetu
JWT_SECRET=change_this_to_any_long_random_string
PORT=5000

# First admin account, created once by "npm run seed:admin"
ADMIN_NAME=ShramSetu Admin
ADMIN_EMAIL=admin@shramsetu.coop
ADMIN_PASSWORD=Admin@123
